################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InvestmentShared/obj/Release/net5.0/InvestmentShared.GeneratedMSBuildEditorConfig.editorconfig
