################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InvestmentApi.Test/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/InvestmentApi.Test/bin/Debug/net5.0/xunit.runner.utility.netcoreapp10.dll
/InvestmentApi.Test/bin/Debug/net5.0/xunit.runner.reporters.netcoreapp10.dll
/InvestmentApi.Test/bin/Debug/net5.0/xunit.execution.dotnet.dll
/InvestmentApi.Test/bin/Debug/net5.0/xunit.core.dll
/InvestmentApi.Test/bin/Debug/net5.0/xunit.assert.dll
/InvestmentApi.Test/bin/Debug/net5.0/xunit.abstractions.dll
/InvestmentApi.Test/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/testhost.exe
/InvestmentApi.Test/bin/Debug/net5.0/testhost.dll
/InvestmentApi.Test/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/InvestmentApi.Test/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/InvestmentApi.Test/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/InvestmentApi.Test/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ref/InvestmentApi.Test.dll
/InvestmentApi.Test/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/NuGet.Frameworks.dll
/InvestmentApi.Test/bin/Debug/net5.0/Newtonsoft.Json.dll
/InvestmentApi.Test/bin/Debug/net5.0/Moq.dll
/InvestmentApi.Test/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/InvestmentApi.Test/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/InvestmentApi.Test/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/InvestmentApi.Test/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
/InvestmentApi.Test/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/InvestmentApi.Test/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/InvestmentApi.Test/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
/InvestmentApi.Test/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/InvestmentApi.Test/bin/Debug/net5.0/Microsoft.OpenApi.dll
/InvestmentApi.Test/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentShared.pdb
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentShared.dll
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentData.pdb
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentData.dll
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentApi.Test.runtimeconfig.json
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentApi.Test.runtimeconfig.dev.json
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentApi.Test.pdb
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentApi.Test.dll
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentApi.Test.deps.json
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentApi.pdb
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentApi.exe
/InvestmentApi.Test/bin/Debug/net5.0/InvestmentApi.dll
/InvestmentApi.Test/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/InvestmentApi.Test/bin/Debug/net5.0/Castle.Core.dll
/InvestmentApi.Test/bin/Debug/net5.0/appsettings.json
/InvestmentApi.Test/bin/Debug/net5.0/appsettings.Development.json
/InvestmentApi.Test/obj/Release/net5.0/InvestmentApi.Test.GeneratedMSBuildEditorConfig.editorconfig
/InvestmentApi.Test/obj/Release/net5.0/InvestmentApi.Test.csprojAssemblyReference.cache
/InvestmentApi.Test/obj/Release/net5.0/InvestmentApi.Test.AssemblyInfoInputs.cache
/InvestmentApi.Test/obj/Release/net5.0/InvestmentApi.Test.AssemblyInfo.cs
/InvestmentApi.Test/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/InvestmentApi.Test/obj/project.nuget.cache
/InvestmentApi.Test/obj/project.assets.json
/InvestmentApi.Test/obj/InvestmentApi.Test.csproj.nuget.g.targets
/InvestmentApi.Test/obj/InvestmentApi.Test.csproj.nuget.g.props
/InvestmentApi.Test/obj/InvestmentApi.Test.csproj.nuget.dgspec.json
/InvestmentApi.Test/obj/Debug/net5.0/ref/InvestmentApi.Test.dll
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.pdb
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.genruntimeconfig.cache
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.GeneratedMSBuildEditorConfig.editorconfig
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.dll
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.csprojAssemblyReference.cache
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.csproj.FileListAbsolute.txt
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.csproj.CoreCompileInputs.cache
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.csproj.CopyComplete
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.assets.cache
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.AssemblyInfoInputs.cache
/InvestmentApi.Test/obj/Debug/net5.0/InvestmentApi.Test.AssemblyInfo.cs
/InvestmentApi.Test/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/InvestmentApi/obj/Release/net5.0/InvestmentApi.GeneratedMSBuildEditorConfig.editorconfig
/InvestmentApi/obj/Release/net5.0/InvestmentApi.assets.cache
/InvestmentApi/obj/Release/net5.0/InvestmentApi.AssemblyInfoInputs.cache
/InvestmentApi/obj/Release/net5.0/InvestmentApi.AssemblyInfo.cs
/InvestmentApi/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/InvestmentApi/obj/project.nuget.cache
/InvestmentApi/obj/project.assets.json
/InvestmentApi/obj/InvestmentApi.csproj.nuget.g.targets
/InvestmentApi/obj/InvestmentApi.csproj.nuget.g.props
/InvestmentApi/obj/InvestmentApi.csproj.nuget.dgspec.json
/InvestmentApi/obj/Debug/net5.0/staticwebassets/InvestmentApi.StaticWebAssets.xml
/InvestmentApi/obj/Debug/net5.0/staticwebassets/InvestmentApi.StaticWebAssets.Manifest.cache
/InvestmentApi/obj/Debug/net5.0/ref/InvestmentApi.dll
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.RazorTargetAssemblyInfo.cache
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.pdb
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.MvcApplicationPartsAssemblyInfo.cs
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.MvcApplicationPartsAssemblyInfo.cache
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.genruntimeconfig.cache
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.GeneratedMSBuildEditorConfig.editorconfig
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.dll
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.csprojAssemblyReference.cache
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.csproj.FileListAbsolute.txt
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.csproj.CoreCompileInputs.cache
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.csproj.CopyComplete
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.assets.cache
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.AssemblyInfoInputs.cache
/InvestmentApi/obj/Debug/net5.0/InvestmentApi.AssemblyInfo.cs
/InvestmentApi/obj/Debug/net5.0/apphost.exe
/InvestmentApi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/InvestmentApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/InvestmentApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/InvestmentApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/InvestmentApi/bin/Debug/net5.0/ref/InvestmentApi.dll
/InvestmentApi/bin/Debug/net5.0/Newtonsoft.Json.dll
/InvestmentApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
/InvestmentApi/bin/Debug/net5.0/InvestmentShared.pdb
/InvestmentApi/bin/Debug/net5.0/InvestmentShared.dll
/InvestmentApi/bin/Debug/net5.0/InvestmentData.pdb
/InvestmentApi/bin/Debug/net5.0/InvestmentData.dll
/InvestmentApi/bin/Debug/net5.0/InvestmentApi.runtimeconfig.json
/InvestmentApi/bin/Debug/net5.0/InvestmentApi.runtimeconfig.dev.json
/InvestmentApi/bin/Debug/net5.0/InvestmentApi.pdb
/InvestmentApi/bin/Debug/net5.0/InvestmentApi.exe
/InvestmentApi/bin/Debug/net5.0/InvestmentApi.dll
/InvestmentApi/bin/Debug/net5.0/InvestmentApi.deps.json
/InvestmentApi/bin/Debug/net5.0/appsettings.json
/InvestmentApi/bin/Debug/net5.0/appsettings.Development.json
/InvestmentShared/obj/Release/net5.0/InvestmentShared.GeneratedMSBuildEditorConfig.editorconfig
/InvestmentShared/obj/Release/net5.0/InvestmentShared.AssemblyInfoInputs.cache
/InvestmentShared/obj/Release/net5.0/InvestmentShared.AssemblyInfo.cs
/InvestmentShared/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/InvestmentShared/obj/project.nuget.cache
/InvestmentShared/obj/project.assets.json
/InvestmentShared/obj/InvestmentShared.csproj.nuget.g.targets
/InvestmentShared/obj/InvestmentShared.csproj.nuget.g.props
/InvestmentShared/obj/InvestmentShared.csproj.nuget.dgspec.json
/InvestmentShared/obj/Debug/net5.0/ref/InvestmentShared.dll
/InvestmentShared/obj/Debug/net5.0/InvestmentShared.pdb
/InvestmentShared/obj/Debug/net5.0/InvestmentShared.GeneratedMSBuildEditorConfig.editorconfig
/InvestmentShared/obj/Debug/net5.0/InvestmentShared.dll
/InvestmentShared/obj/Debug/net5.0/InvestmentShared.csprojAssemblyReference.cache
/InvestmentShared/obj/Debug/net5.0/InvestmentShared.csproj.FileListAbsolute.txt
/InvestmentShared/obj/Debug/net5.0/InvestmentShared.csproj.CoreCompileInputs.cache
/InvestmentShared/obj/Debug/net5.0/InvestmentShared.assets.cache
/InvestmentShared/obj/Debug/net5.0/InvestmentShared.AssemblyInfoInputs.cache
/InvestmentShared/obj/Debug/net5.0/InvestmentShared.AssemblyInfo.cs
/InvestmentShared/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/InvestmentShared/bin/Debug/net5.0/ref/InvestmentShared.dll
/InvestmentShared/bin/Debug/net5.0/InvestmentShared.pdb
/InvestmentShared/bin/Debug/net5.0/InvestmentShared.dll
/InvestmentShared/bin/Debug/net5.0/InvestmentShared.deps.json
/InvestmentData/obj/Release/net5.0/InvestmentData.GeneratedMSBuildEditorConfig.editorconfig
/InvestmentData/obj/Release/net5.0/InvestmentData.csprojAssemblyReference.cache
/InvestmentData/obj/Release/net5.0/InvestmentData.AssemblyInfoInputs.cache
/InvestmentData/obj/Release/net5.0/InvestmentData.AssemblyInfo.cs
/InvestmentData/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/InvestmentData/obj/project.nuget.cache
/InvestmentData/obj/project.assets.json
/InvestmentData/obj/InvestmentData.csproj.nuget.g.targets
/InvestmentData/obj/InvestmentData.csproj.nuget.g.props
/InvestmentData/obj/InvestmentData.csproj.nuget.dgspec.json
/InvestmentData/obj/Debug/net5.0/ref/InvestmentData.dll
/InvestmentData/obj/Debug/net5.0/InvestmentData.pdb
/InvestmentData/obj/Debug/net5.0/InvestmentData.GeneratedMSBuildEditorConfig.editorconfig
/InvestmentData/obj/Debug/net5.0/InvestmentData.dll
/InvestmentData/obj/Debug/net5.0/InvestmentData.csprojAssemblyReference.cache
/InvestmentData/obj/Debug/net5.0/InvestmentData.csproj.FileListAbsolute.txt
/InvestmentData/obj/Debug/net5.0/InvestmentData.csproj.CoreCompileInputs.cache
/InvestmentData/obj/Debug/net5.0/InvestmentData.csproj.CopyComplete
/InvestmentData/obj/Debug/net5.0/InvestmentData.assets.cache
/InvestmentData/obj/Debug/net5.0/InvestmentData.AssemblyInfoInputs.cache
/InvestmentData/obj/Debug/net5.0/InvestmentData.AssemblyInfo.cs
/InvestmentData/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/InvestmentData/bin/Debug/net5.0/ref/InvestmentData.dll
/InvestmentData/bin/Debug/net5.0/InvestmentShared.pdb
/InvestmentData/bin/Debug/net5.0/InvestmentShared.dll
/InvestmentData/bin/Debug/net5.0/InvestmentData.pdb
/InvestmentData/bin/Debug/net5.0/InvestmentData.dll
/InvestmentData/bin/Debug/net5.0/InvestmentData.deps.json
